[server]
threadpool_workers = 20   # cpu线程池
gpu_infer_concurrency = 4 # gpu信号量 
log_level = "INFO"        # 日志级别: DEBUG, INFO, WARNING, ERROR, CRITICAL

[audio_qc]
vad_model = "iic/speech_fsmn_vad_zh-cn-16k-common-pytorch"
device = "cuda:0"
vad_num_workers = 4     # VAD 进程池，推荐与gpu_infer_concurrency相同
return_segments = true  # 是否返回分段结果
merge_gap_ms = 120      
silence_dbfs = -60.0   
max_file_size_mb = 300
min_duration_ms = 10000      # 3min，按需改
max_duration_ms = 6600000     # 110min，按需改
need_clarity = true  # 是否需要清晰度检测

[audio_qc.clarity_v1]
# STFT 参数
win_ms = 20.0 # 窗长
hop_ms = 10.0 # 步长
# 频段（同样建议可配）
hf_lo_hz = 3000.0
hf_hi_hz = 8000.0
# 归一化阈值
snr_min_db = -5.0      # 对应 0 分
snr_max_db = 10.0      # 对应 1 分
hf_ref = 0.02          # hf_ratio / hf_ref 越趋于0.02，越能检测到 hf 频段 越趋近于1分
flat_ref = 0.10        # flat / flat_ref 
# 权重（会自动归一化到和为1，避免误配）
w_snr = 0.50
w_hf = 0.30
w_flat = 0.20

